.mainInventory{
    width: 600px;
    height: 781px;
    border: #333 2px solid;
    background-color: #353D40
}

.itemContainer{
    position: absolute;
}

/* Items position */
.Helm{
    left: 252.06px;
    top: 99.65px;
    height: 95.929px;
    width: 93.929px;
}

.Weapon{
    left: 65.85px;
    top: 111.21px; 
    height: 189.858px;  
    width: 93.929px;
}

.Offhand{
    left: 438.27px;
    top: 111.21px;
    height: 189.858px;  
    width: 93.929px;
}

.BodyArmour{
    left: 252.06px;
    top: 206.14px;
    height: 142.3935px;
    width: 93.929px;
}

.Ring{
    left: 182.69px;
    top: 253.6px;
    height: 47.4645px;
    width: 47.4645px;
}

.Ring2{
    left: 368.89px;
    top: 253.6px;
    height: 47.4645px;
    width: 47.4645px;
}

.Amulet{
    left: 368.89px;
    top: 194.58px;
    height: 47.4645px;
    width: 47.4645px;
}

.Gloves{
    left: 135.22px;
    top: 312.63px;
    height: 95.929px;
    width: 93.929px;
}

.Boots{
    left: 368.89px;
    top: 312.63px;
    height: 95.929px;
    width: 93.929px;
}

.Belt{
    left: 252.06px;
    top: 360.09px;
    height: 47.4645px;
    width: 93.929px;
}

.Trinket{
    left: 89.58px;
    top: 442.24px;
    height: 47.4645px;
    width: 47.4645px;
}

.Flask1{
    left: 186.34px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.Flask2{
    left: 233.805px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.Flask3{
    left: 281.269px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.Flask4{
    left: 328.734px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.Flask5{
    left: 376.198px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.iconContainer{
    position: relative;
    text-align: center;
}

.placement{
    top: 23.73225px;
}

/* Item slots positions */
.itemSlot{
    position: absolute;
    background-color: #A1A5A6;
    border: #333 3px solid;
    border-radius: 6px;
    margin-left: -3px;
    margin-top: -3px;
}

.itemHelm{
    left: 252.06px;
    top: 99.65px;
    height: 95.929px;
    width: 93.929px;
}

.itemWeapon{
    left: 65.85px;
    top: 111.21px; 
    height: 189.858px;  
    width: 93.929px;
}

.itemOffhand{
    left: 438.27px;
    top: 111.21px;
    height: 189.858px;  
    width: 93.929px;
}

.itemBodyArmour{
    left: 252.06px;
    top: 206.14px;
    height: 142.3935px;
    width: 93.929px;
}

.itemRing{
    left: 182.69px;
    top: 253.6px;
    height: 47.4645px;
    width: 47.4645px;
}

.itemRing2{
    left: 368.89px;
    top: 253.6px;
    height: 47.4645px;
    width: 47.4645px;
}

.itemAmulet{
    left: 368.89px;
    top: 194.58px;
    height: 47.4645px;
    width: 47.4645px;
}

.itemGloves{
    left: 135.22px;
    top: 312.63px;
    height: 95.929px;
    width: 93.929px;
}

.itemBoots{
    left: 368.89px;
    top: 312.63px;
    height: 95.929px;
    width: 93.929px;
}

.itemBelt{
    left: 252.06px;
    top: 360.09px;
    height: 47.4645px;
    width: 93.929px;
}

.itemTrinket{
    left: 89.58px;
    top: 442.24px;
    height: 47.4645px;
    width: 47.4645px;
}

.itemFlask1{
    left: 186.34px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.itemFlask2{
    left: 233.805px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.itemFlask3{
    left: 281.269px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.itemFlask4{
    left: 328.734px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

.itemFlask5{
    left: 376.198px;
    top: 418.51px;
    height: 95.929px;
    width: 47.4645px;
}

/* Tooltip for mods */
.tooltip{
    display: inline-block;
}

.tooltip .tooltipText{
    visibility: hidden;
    min-width: 300px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    left: 110%;
    top: 0;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

/* Tooltip mods text color/font */
.itemName{
    font-size: 20px;
}

.itemName .textMargin0{
    margin: 0;
}

/* .regionColor0{
    background-color: ;
} */

.regionColor1{
    background-color: rgb(58, 60, 63) ;
}

.regionColor2{
    background-color: rgb(128, 127, 81) ;
}

.regionColor3{
    background-color: rgb(88, 48, 48) ;
}

.itemName .rarity0{
    color: rgba(255, 255, 255, 0.685);
}

.itemName .rarity1{
    color: rgba(190, 189, 255, 0.911);
}

.itemName .rarity2{
    color: rgb(255, 251, 27);
}

.itemName .rarity3{
    color: rgba(255, 96, 5, 0.822);
}

.enchantMod,
.craftedMod{
    color: lightskyblue;
}

.affixMod{
    color: rgb(65, 65, 243);
}