/* Margin */
.m-0{
    margin: 0;
}
.mt-5{
    margin-top: 5px;
}
/* Padding */
.pl-10{
    padding-left: 10px;
}

.pt-5{
    padding-top: 5px;
}

/* Text size */
.sm{
    font-size: 1rem;
}

.md{
    font-size: 1.5rem; 
}

.lg{
    font-size: 2rem;
}

.xl{
    font-size: 2.5rem;
}

/* Text allign */
.ac{
    text-align: center;
}

.al{
    text-align: left;
}

/* Color */
.ic{
    background-color: #5b696d7a;
}