{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'user/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/utilities.css' %}">
    
    <title>POE - {{ title }}</title>
</head>
<h2>POE - {{ title }}</h2>
<body id="bg" style="background-image: url('{% static "user/images/background.jpg" %}');">
    {% block content %}{% endblock content %}

    <script>
        
    </script>
</body>
</html>