{% extends "user/base.html" %}
{% block content %}
{% load mathfilters %}
<div class="mainLayout">

    {% csrf_token %} 
    <div class="charactersContainer window-bg">
        <h2 class="title m-0">CHARACTERS</h2>
        <div class="ic">
            <div class="scrollbar">
                {% for character in characters %}
                    <div class="characterWindow" value="{{ character.name }}">
                        <div class="icon {{ character.class }}"></div>
                        <div class="name pl-10 pt-5">{{ character.name }} </div>
                        <div class="level-class pl-10">Level {{ character.level }} {{ character.class }}</div>
                        <div class="league pl-10">{{ character.league }} League</div>  
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="charatcerItemsContainer window-bg">
        <h2 class="title m-0">EQUIPEMENT</h2>
        <div class="ic">
            <!--Only for displaying Item slots-->
            <div class="itemSlotContainer">
                <div class="itemSlot itemHelm"></div>
                <div class="itemSlot itemWeapon"></div>
                <div class="itemSlot itemOffhand"></div>   
                <div class="itemSlot itemBodyArmour"></div>
                <div class="itemSlot itemRing"></div>
                <div class="itemSlot itemRing2"></div>
                <div class="itemSlot itemAmulet"></div>
                <div class="itemSlot itemGloves"></div>
                <div class="itemSlot itemBoots"></div>
                <div class="itemSlot itemBelt"></div>
                <div class="itemSlot itemTrinket"></div>
                <div class="itemSlot itemFlask1"></div>
                <div class="itemSlot itemFlask2"></div>
                <div class="itemSlot itemFlask3"></div>
                <div class="itemSlot itemFlask4"></div>
                <div class="itemSlot itemFlask5"></div>
            </div>
            <div class="equippedItemsContainer" id="equippedItemsContainer"></div>  
        </div>
    </div>

    

    <div class="stashtabContainer window-bg">
        <h2 class="title m-0">STASH TABS</h2>
        <div class="inner ic">
            <div class="scrollbar">
                {% for stashTab in stashTabs  %}
                    <button class="stashbtn" value="{{ stashTab.index }}" style="background-color: rgb({{ stashTab.color.r }} {{ stashTab.color.g }} {{ stashTab.color.b }} /40%); border: rgb({{ stashTab.color.r|div:0.8 }}, {{ stashTab.color.g|div:0.8 }}, {{ stashTab.color.b|div:0.8 }}) 2px solid;">{{stashTab.name}}</button>
                    <div id="{{ stashTab.name }}" class="testcontainer stashTab" style="display:none"></div>  
                {% endfor %}
            </div>
            <div class="stashTabDetail">
                <div class="tags">
                    <div class="icon">
                        <h2>Icon</h3>
                    </div>
                    <div class="name">
                        <h2>Name</h2>
                    </div>
                    <div class="quantity">
                        <h2>Quantity</h2>
                    </div>
                </div>
                <div class="stashContent" id="stashContent">

                    <div class="item">

                        <div class="icon">
                            <img src="" alt="">
                        </div>

                        <div class="name">
                            <h2></h2>
                        </div>

                        <div class="pn-link">
                            <a href="https://poe.ninja/"><button class="poeNinjaBtn">PN</button></a>
                        </div>

                        <div class="quantity">Quantity</div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock content %}